body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

/* Navigation */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #A358A3;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #7a307a;
}

/* Header area*/

.hero-color {
  background-color: #A358A3;
  height: 20px;
}

.header {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 2.2em;
  text-decoration: none;
  display: block;
  text-shadow: 2px 2px #414042;
}

h1 {
  margin: 0;
  padding: 0;
}
.subhead {
  font-family: 'Oregano', cursive;
  font-size: 3em;
  letter-spacing: 2px;
  text-shadow: 2px 2px #414042;
}

.header, .subhead {
  color: #ffffff;
}

.tagline, .subhead, .header, .account-line {
  text-align: center;
}

.tagline, .subhead {
  font-size: 2.2em;
}

.account-line {
  font-size: 1.3em;
}

.top-img-container, .bottom-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-img-container {
  min-height: 300px;
  background: url(https://raw.githubusercontent.com/SarahCyrDesign/vineyard_companion/master/public/index-top.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-width: 10px;
  border-bottom-color: #B0C980;
  border-top-style: solid;
  border-top-width: 10px;
  border-top-color: #B0C980;
  margin-bottom: 50px;
  background-position: center;
}

/* LOGIN AREA */

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 130%;
    max-height: 130%;
    z-index: -1
}

.content {
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 60%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.content > h2 {
  margin: auto;
}

.button-group{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  margin: auto;
}

.button-group > div {
  display: flex;
  align-content: space-around;
  margin: 10px;
}

.login-button:hover, .signup-button:hover {
  background-color: #7a307a;
}

.login-button, .signup-button, .logout-button {
  color: #ffffff;
  background: #A358A3;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

/* FOOTER */

.bottom-content {
  background: #A358A3;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top-style: solid;
  border-top-width: 10px;
  border-top-color: #B0C980;
  margin-top: 50px;
}
