<ul>
<li><a class= "button" href="/vineyards/new">Add a Vineyard or Winery</a></li>
<li><a class= "button" href="/vineyards">Vineyard/Winery List</a></li>
<li><a class= "button" href="/wines/new">Add a Wine</a></li>
<li><a class= "button" href="/wines">Wine List</a></li>
<li><a class= "button" href="/users/<%= current_user.id %>">My Wines and Vineyards</a></li>
<li><a href="/logout">Logout</a></li>
</ul>

<h1>Add a new Vineyard or Winery</h1>

<% if flash.has?(:message) %>
  <p style="color:#c40707;"><%= flash[:message] %> </p>
<% end %>

<form action="/vineyards" method="POST">
<label for="name">Name:</label>
<input type="text" name="name" required>
<br>
<label for="location">location:</label>
<input type="text" name="location" required>
<br>
<label for="phone_number">Phone Number:</label>
<input type="text" name="phone_number" required>
<br>
<br>
<label for="review">Review:</label>
<br>
<textarea name="review" rows="4" cols="50" required></textarea>
<br>

<input type="submit" value="Submit Vineyard/Winery">
</form>
