<div class="hero-color"></div>
 <div class="top-img-container">
   <h1><a class="header" href="/">Vineyard Companion</a></h1>
   <h1 class="subhead">Following Your Wine Adventures</h1>
 </div>

<div class="content">
  <h2 class="tagline">Start on your Wine Journey Today!</h2>
  <div class="button-group">
    <div><a class= "signup-button" href="/signup">Create an Account</a></div>
 </div>
   <h4 class="account-line">Already have an account?</h4>
  <div class="button-group">
    <div><a class= "login-button" href="/login">Login</a></div>
  </div>
</div>

<div>
  <video autoplay muted loop id="myVideo">
     <source src="vineyard-video.mp4" type="video/mp4">
   Your browser does not support HTML5 video.
 </video>
</div>

 <footer class="bottom-content">
   <img class="footer-img" src="index-main.png"/>
 </footer>
