<div class="top-img-container">
  <img class="top-image" src="index-top.png"/>
  <h1 class="header"><a href="/">Vineyard Companion</a></h1>
  <h2 class="subhead">Following Your Wine Adventures</h2>
</div>

<a class= "button-index-1" href="/login">Login</a>
<br>
<br>
<h2 class="tagline">Get started on your Wine Journey!</h2>
<a class= "button-index-2" href="/signup">Create an Account</a>
<br>
<a class= "button-index-3" href="/logout">Logout</a>
<div class="bottom-content">
  <img class="index-main" src="index-main.png"/>
</div>
