<h2>Following Your Wine Adventures</h2>


<h3>Latest Wine Ratings</h3>

<h3>Login</h3>
<a class= "button" href="/login">Login</a>

<h2>Get started on your Wine Journey!</h2>
<h3>Create an Account</h3>
<a class= "button" href="/signup">Sign Up</a>
