<h2 class="subhead">Following Your Wine Adventures</h2>

<a class= "button" href="/login">Login</a>

<h2>Get started on your Wine Journey!</h2>
<a class= "button" href="/signup">Create an Account</a>
