<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vineyard Companion - Following Your Wine Adventures</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Oregano" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
  <meta charset="UTF-8">
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
</head>
  <body>

    <%= yield %>
    <br>
    <a href="/logout">logout</a>
  </body>
</html>
