<!DOCTYPE html>
<html>
<head>
  <title>Vineyard Companion - Following Your Wine Adventures</title>
</head>
  <body>

<h1><a href="/">Vineyard Companion</a></h1>
<a href="/logout">logout</a>
    <%= yield %>
  </body>
</html>
